mainmenu "Main Application"

config APP_SUSPEND_CONSOLE
	bool "Suspend console"
	help
	  Suspend console.

config APP_MAIN_LOOP_PERIOD_SEC
	int "Main loop period (sec)"
	default 10
	help
	  Main loop period in seconds.

config APP_WIFI_SSID
	string "SSID of the target AP"
	help
	  SSID of the access point to connect to in station mode.
	  For example: "TARGET-AP"

config APP_WIFI_PSK
	string "Pre-shared key for target AP"
	help
	  WPA2 password used to connect to the target AP.
	  For example: "PSK"

source "Kconfig.zephyr"